<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pointme">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
         android:name=".activities.MainActivity"
         android:exported="true"
         android:theme="@style/AppTheme.Dark">

        </activity>

        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/AppTheme.Dark" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.ServiceProviderMainActivity"
            android:theme="@style/AppTheme.Dark">

        </activity>
        <activity
            android:name=".activities.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.Dark"></activity>
    </application>

</manifest>